{% load i18n %}
<html>
<head>
{% block head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.treeview.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.dimensions.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.tooltip.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/main.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/jquery.treeview.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/jquery.tooltip.css" />
    <title>{% block title %}hGate{% endblock %}</title>


    <script>
        $(document).ready(function() {
            $("#repository_tree").treeview({
                persist: "location",
                collapsed: true
            });
            $("#menu_langs select").change(function() {
                $("#menu_langs").submit();
            });

            tooltip();
        });
    </script>
{% endblock %}
</head>
<body>
<div id="header" class="header">
    <h1 id="" class=""><a href="{% url index %}">hGate<sup>rc1</sup></a></h1>
    {% if hgweb_url != '-' %}
        <a style="position: relative; top: 60px; left: -85px;" class="external" href="{{ hgweb_url }}">hgweb</a>
    {% endif %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    <form action="{{ MEDIA_URL }}/i18n/setlang/" method="post" id="menu_langs">
        {% csrf_token %}
        <input name="next" type="hidden" value="."/>
        <select name="language">
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %} >{{ lang.1 }}</option>
            {% endfor %}
        </select>
    </form>
    <ul id="menu_main_horizontal" class="">
        {% block menu_extra %}{% endblock %}
        <li class="{% block menu_home %}{% endblock %}"><a href="{% url index %}">{% trans "Home" %}</a></li>
        <li class="{% block menu_users %}{% endblock %}"><a href="{% url users_index %}">{% trans "Users" %}</a></li>
        <li class="{% block menu_hgweb %}{% endblock %}"><a href="{% url hgweb %}">{% trans "HgWeb" %}</a></li>
        <li class=""><a href="https://bitbucket.org/shedar/hgate/wiki/" target="_blank">{% trans "Help" %}</a></li>
    </ul>
</div>
{% block tree %}
<div class="tree">
{% include 'tree.html' %}
</div>
{% endblock %}
<div class="main">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% trans message.message %}</li>
    {% endfor %}
</ul>
{% endif %}
{% block content %}
{% endblock %}
</div>
</body>
</html>