{% extends "base.html" %}
{% load i18n %}

{% block menu_home %}current{% endblock %}
{% block head %}
{{ block.super }}
<script>
function edit_group_click(name, path) {
    $("#group_edit").show();
    $("#old_group_name").val(name);
    $("#group_edit input[name='edit_group-name']").val(name);
    $("#group_edit input[name='edit_group-path']").val(path);
    $("#group_edit span").text(name);
    //remove error messages
    $("#group_edit .errorlist").remove();
}
$(document).ready(function() {
    $(".group_list tbody tr").hover(
        function(){$(this).addClass("rowHover")},
        function(){$(this).removeClass("rowHover");}
    );
    $("#group_edit input[name='cancel_editing']").click(function() {
        $("#group_edit").hide();
        $("#old_group_name").val('');
        $("#group_edit input[name='edit_group-name']").val('');
        $("#group_edit input[name='edit_group-path']").val('');
        //remove error messages
        $("#group_edit .errorlist").remove();
    });
    $("span.delete_group").click(function () {
        $(this).parent("form").submit();
    });
    $("form[name='delete_group_form']").submit(function() {
        var group_name = $(this).find("input[name='group_name']").val();
        if (confirm("{% trans "Are you sure you want to delete group" %} '" + group_name + "'?")) {
            var cnt = $(this).prev("input[name='repos_count']").val();
            var repository_word = "{% trans "repositories" %}";
            if (cnt == 0) return true;
            else if (cnt == 1) repository_word = "{% trans "repository" %}";
            if (confirm("{% trans "This group is not empty.\n It has " %} " + cnt +" "+ repository_word +". {% trans "Delete anyway" %}?"))
                return true;
        }
        return false;
    })
})
</script>
{% endblock %}

{% block content %}
<br/>
<h3>{% trans "Create repository" %}</h3>
<form class="repository_create" action="{% url index %}" method="post">
    <table>
        {{ repo_form.as_table }}
    </table>
    <input class="submit" type="submit" name="create_repo" value="{% trans "Create" %}"/>
</form>
<hr style="margin: 15px 0 15px 0;"/>
<h3>{% trans "Manage groups" %}</h3>

<form class="group_create" action="{% url index %}" method="post">
    <table>
        {{ groups_form.as_table }}
    </table>
    <input class="submit" type="submit" name="create_group" value="{% trans "Create" %}"/>
</form>

<table class="datagrid group_list">
    <tr><th>{% trans "Group key" %}</th><th>{% trans "Full path" %}</th><th>{% trans "Action" %}</th></tr>
    {% for gr_key, gr_path, rep_count in groups %}
        <tr class="{% cycle odd,even %}">
            <td>{{ gr_key }}</td>
            <td>{{ gr_path }}</td>
            <td class="action">
                <input type="hidden" name="repos_count" value="{{ rep_count }}"/>
                <form action="{% url index %}" name="delete_group_form" method="post">
                    <input type="hidden" name="group_name" value="{{ gr_key }}"/>
                    <span onclick="edit_group_click('{{ gr_key }}', '{{ gr_path }}');" >{% trans "edit" %}</span>&nbsp;&nbsp;
                    <span class="delete_group">{% trans "delete" %}</span>
                    <input type="hidden" name="delete_group" value=""/>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<div class="group_edit" id="group_edit" {% if is_hide_edit_group_form %} style="display: none;" {% endif %}>
    <br/>{% trans "Editing of group" %} '<span>{{ edited_group }}</span>':<br/>

    <form id="group_edit_form" action="{% url index %}" method="post">
        <input type="hidden" name="old_group_name" id="old_group_name" value="{{ edited_group }}"/>
        <table>
            {{ edit_group_form.as_table }}
        </table>
        <input type="submit" name="edit_group" value="Save"/>
    </form>
    <input type="button" name="cancel_editing" value="{% trans 'Cancel editing' %}"/>
</div>
{% endblock %}
