{% extends "base.html" %}
{% load i18n %}

{% block menu_home %}current{% endblock %}
{% block head %}
    {{ block.super }}
    <script>
        function delete_group(name, reps_count, is_collection) {
            var do_delete = false;
            if (confirm("{% trans "Are you sure you want to delete group" %} '" + name + "'?")) {
                if (reps_count == 0) {
                    do_delete = true;
                } else {
                    var repository_word = "{% trans "repositories" %}";
                    if (reps_count == 1)
                        repository_word = "{% trans "repository" %}";
                    if (confirm("{% trans "This group is not empty.\n It has " %} " + reps_count + " " + repository_word + ". {% trans "Delete anyway" %}?"))
                        do_delete = true;
                }
            }
            if (do_delete) {
                $("#delete_group_form input[name='is_collection']").val(is_collection);
                $("#delete_group_form input[name='group_name']").val(name);
                $("#delete_group_form").submit();
            } else {
                $("#delete_group_form input[name='group_name']").val('');
            }
        }
        $(document).ready(function() {
            $("td.action span:first-child").click(function () {//edit
                $(this).nextAll().show();
                $(this).hide();
                var tdpath = $(this).parent().prev();
                var tdname = $(this).parent().prev().prev();
                var path = tdpath.html();
                var name = tdname.html();
                var path_width = tdpath.width();
                var name_width = tdname.width();
                tdpath.html('');
                $("<input type='text' value='" + path + "' />").filter("input")
                        .width(path_width)
                        .end().appendTo(tdpath);
                tdname.html('');
                $("<input type='text' value='" + name + "' />").filter("input")
                        .width(name_width)
                        .end().appendTo(tdname);

                $("<span>{% trans 'cancel' %}</span>").filter("span").click(
                        function() {
                            tdpath.html(path);
                            tdname.html(name);
                            $(this).prev().prev().show();
                            $(this).prev().remove();
                            $(this).remove();
                        }).end().insertAfter(this);
                $("<span style='padding-right:10pt;'>{% trans 'save' %}</span>").filter("span").click(
                        function() {
                            $("#old_group_name").val(name);
                            $("#old_group_path").val(path);
                            //getting td with collection
                            var is_collection = $(this).parent().prev().prev().prev().find("input").val();
                            //getting td with name
                            var new_name_val = $(this).parent().prev().prev().find("input").val();
                            //getting td with path
                            var new_path_val = $(this).parent().prev().find("input").val();
                            $("#id_edit_group-name").val(new_name_val);
                            $("#id_edit_group-path").val(new_path_val);
                            $("#id_edit_group-is_collection").val(is_collection);
                            $("#group_edit_form").submit();
                        }).end().insertAfter(this);
            });
            $(".group_list tbody tr").hover(
                    function() {
                        $(this).addClass("rowHover")
                    },
                    function() {
                        $(this).removeClass("rowHover");
                    }
            );
            $(".tooltip").tooltip({
                        delay: 1000,
                        showBody: " : ",
                        showURL: false
                    });
            $("#is_collection").click(function() {
                $("#id_is_collection").val(this.checked ? 'True' : 'False');
            });
        })
    </script>
{% endblock %}

{% block content %}
    <br/>
    <h3>{% trans "Create repository" %}</h3>
    <form class="repository_create" action="{% url index %}" method="post">
        <table>
            {{ repo_form.as_table }}
            <tr>
                <td colspan="2" class="bottom">
                    <input class="submit" type="submit" name="create_repo" value="{% trans "Create" %}"/>
                    <span title="{% trans 'Create new repository : Path: default path if no group is specified or concrete group path.<br>Name: specified name.<br>This action creates dir with repository name and makes &apos;hg init&apos; in that dir.' %}"
                          class="tooltip">[ ? ]</span>
                </td>
            </tr>
        </table>
    </form>
    <hr style="margin: 15px 0 15px 0;"/>
    <h3>{% trans "Manage groups" %}</h3>

    <form class="group_create" action="{% url index %}" method="post">
        <table>
            {{ groups_form.as_table }}
            <tr>
                <th>
                    <label for="is_collection">{% trans "Collection" %}:</label>
                </th>
                <td align="left">
                    <input type="checkbox" id="is_collection" style="width: auto;" />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="bottom">
                    <input class="submit" type="submit" name="create_group" value="{% trans "Create" %}"/>
                    <span title="{% trans 'Create new group : Creates all missing directories in the group path.<br>Adds record about this group to the hgweb.config.' %}"
                          class="tooltip">[ ? ]</span>
                </td>
            </tr>
        </table>
    </form>

    <form action="{% url index %}" id="delete_group_form" name="delete_group_form" method="post">
        {{ delete_group_form.non_field_errors }}
        {% for hidden in delete_group_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <input type="hidden" name="group_name" value=""/>
        <input type="hidden" name="delete_group" value=""/>
        <input type="hidden" name="is_collection" value=""/>
    </form>
    <form id="group_edit_form" action="{% url index %}" style="display:none;" method="post">
        <input type="hidden" name="old_group_name" id="old_group_name" value=""/>
        <input type="hidden" name="old_group_path" id="old_group_path" value=""/>
        {{ edit_group_form.as_p }}
    </form>
    {{ edit_group_form.non_field_errors }}
    <table class="datagrid group_list">
        <tr>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Group name" %}</th>
            <th>{% trans "Full path" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
        {% for gr_key, gr_path, rep_count, is_collection in groups %}
            <tr class="{% cycle odd,even %}">
                <td>
                    <input type="hidden" value="{{ is_collection }}" />
                    {% if is_collection%}
                        [collections]
                    {% else %}
                        [paths]
                    {% endif %}
                </td>
                <td>{{ gr_key }}</td>
                <td>{{ gr_path }}</td>
                <td class="action">
{#                    {% if gr_key not in collections %}#}
                    <span title="{% trans 'Click to start editing this group: you can change name and path.' %}">
                        {% trans "edit" %}
                    </span>&nbsp;&nbsp;
                    <span class="delete_group"
                          onclick="delete_group('{{ gr_key }}', '{{ rep_count }}', '{{ is_collection }}');"
                          title="{% trans 'Delete the group: removes record about this group from hgweb.config. Deletes group`s dir and all it`s subdirectories.' %}">
                         {% trans "delete" %}
                    </span>
{#                    {% endif %}#}
                    {% if gr_key == old_group_name and gr_path == old_group_path %}
                        <div id="error_here">
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $("#error_here").prev().prev().click();
                                    var td_path_html = $("#error_here").parent().prev().html();
                                    var td_name_html = $("#error_here").parent().prev().prev().html();

                                    td_path_html = td_path_html.replace("{{ old_group_path }}", $('{{ edit_group_form.path }}').val());
                                    td_name_html = td_name_html.replace("{{ old_group_name }}", $('{{ edit_group_form.name }}').val());

                                    $("#error_here").parent().prev().html('{{ edit_group_form.path.errors|escape }}' + td_path_html);
                                    $("#error_here").parent().prev().prev().html('{{ edit_group_form.name.errors|escape }}' + td_name_html);
                                    $("#error_here").remove();
                                });
                            </script>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
