{% extends "base.html" %}
{% load i18n %}
{% load repository_extra %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/codemirror.css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/codemirror.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/properties.js"></script>

    <script>
        $(document).ready(function () {
            var editor = CodeMirror.fromTextArea(document.getElementById("id_hgrc"), {
                lineNumbers: true
            });

            $(".repo_edit input:visible, .repo_edit select").attr("disabled", "disabled");
            $(".repo_edit input.submit").removeAttr("disabled");
            $(".repo_field_edit_link").click(function () {
                $(this).hide();
                var row = $(this).parents("tr:first");
                row.find(".repo_field_cancel_link").show();
                var inp = row.find("input, select");
                inp.removeAttr("disabled");
                inp.focus();
                return false;
            });

            $(".repo_field_edit_link").click(function () {
                $(this).hide();
                var row = $(this).parents("tr:first");
                row.find(".repo_field_cancel_link").show();
                var inp = row.find("input, select");
                inp.removeAttr("disabled");
                inp.focus();
                return false;
            });

            $(".repo_field_cancel_link").click(function () {
                $(this).hide();
                var row = $(this).parents("tr:first");
                row.find(".repo_field_edit_link").show();
                var inp = row.find("input, select");
                inp.attr("disabled", "disabled");
                return false;
            });

            $(".repo_field_delete_link").click(function () {
                var field = $(this).parents("tr:first").find("th").text();
                if (confirm("{% trans "Are you sure you want to delete parameter " %}" + "\"" + field + "\"" + "{% trans " from hgrc file" %}" + "?")) {
                    $('#repo_field_delete_form #parameter').val(field);
                    $('#repo_field_delete_form').submit();
                }
            });
            $('.spoiler-body').hide();
            $('.spoiler-head').click(function(){
                $(this).toggleClass("folded").toggleClass("unfolded").next().toggle()
            });
            $("#repo_delete").click(function() {
                if($("#sure_delete").is(':checked')) {
                    $("#delete_repo_form").submit();
                }
            });
            $("#save_repo").click(function() {
                var input = $("<input>").attr("type", "hidden").attr("name", "save_repo").val("");
                $("#edit_repo_name").append($(input));
                $("#edit_repo_name").submit();
            });
            $("#edit_mode_ctrl").click(function() {
                $("#raw_mode").toggle();
                $("#advanced_mode").toggle();
                if ($("#raw_mode").is(':visible')) {
                    $("#edit_mode_ctrl").html("{% trans "Advanced mode" %}");
                    editor.refresh();
                } else {
                    $("#edit_mode_ctrl").html("{% trans "Raw mode" %}");
                }
            });

            if ($(".additional .errorlist").length) {
                $(".spoiler-head").toggleClass("folded").toggleClass("unfolded").next().toggle()
            }

            // ==== editing users ====
            var allow_read_list = [{% for user in allow_read_list %}'{{ user }}',{% endfor %}];
            var add_to_allow_read_list = [{% for user in add_to_allow_read_list %}'{{ user }}',{% endfor %}];

            var allow_push_list = [{% for user in allow_push_list %}'{{ user }}',{% endfor %}];
            var add_to_allow_push_list = [{% for user in add_to_allow_push_list %}'{{ user }}',{% endfor %}];

            var deny_read_list = [{% for user in deny_read_list %}'{{ user }}',{% endfor %}];
            var add_to_deny_read_list = [{% for user in add_to_deny_read_list %}'{{ user }}',{% endfor %}];

            var deny_push_list = [{% for user in deny_push_list %}'{{ user }}',{% endfor %}];
            var add_to_deny_push_list = [{% for user in add_to_deny_push_list %}'{{ user }}',{% endfor %}];

            function update_tooltip(users_list, users_tooltip) {
                var new_tooltip = '{% trans "Users : " %}';
                users_list.forEach(function(element, index, array) {
                    new_tooltip += element + "<br/>";
                });
                users_tooltip.attr('title', new_tooltip);
                tooltip(users_tooltip);
            }

            function apply_ext_block(add_list, rm_list, users_inp, users_tooltip) {
                var ext_block = $("#edit_ext");
                var inp = ext_block.find("#edit_ext input, select");
                inp.removeAttr("disabled");
                ext_block.show();

                var available_to_add = $("#available_to_add_id");
                available_to_add.empty();
                add_list.forEach(function(element, index, array) {
                    available_to_add.append('<option value="{0}">{0}</option>'.format(element));
                });

                var available_to_rm = $("#available_to_rm_id");
                available_to_rm.empty();
                rm_list.forEach(function(element, index, array) {
                    available_to_rm.append('<option value="{0}">{0}</option>'.format(element));
                });

                $("#available_to_add_btn").unbind('click').click(function() {
                    if ($("#available_to_add_id option:selected").length) {
                        var selected_user = $("#available_to_add_id option:selected");
                        $("#available_to_rm_id").append('<option value="{0}">{0}</option>'.format(selected_user.val()));
                        var pos = add_list.indexOf(selected_user.val());
                        add_list.splice(pos, 1);
                        rm_list.splice(rm_list.length, 0, selected_user.val());
                        add_list.sort();
                        rm_list.sort();
                        selected_user.remove();
                        users_inp.val(rm_list.join(", "));
                        update_tooltip(rm_list, users_tooltip);
                    }
                });
                $("#available_to_add_id").dblclick(function() {
                    $("#available_to_add_btn").click();
                });
                $("#available_to_rm_btn").unbind('click').click(function() {
                    if ($("#available_to_rm_id option:selected").length) {
                        var selected_user = $("#available_to_rm_id option:selected");
                        $("#available_to_add_id").append('<option value="{0}">{0}</option>'.format(selected_user.val()));
                        var pos = rm_list.indexOf(selected_user.val());
                        rm_list.splice(pos, 1);
                        add_list.splice(add_list.length, 0, selected_user.val());
                        add_list.sort();
                        rm_list.sort();
                        selected_user.remove();
                        users_inp.val(rm_list.join(", "));
                        update_tooltip(rm_list, users_tooltip);
                    }
                });
                $("#available_to_rm_id").dblclick(function() {
                    $("#available_to_rm_btn").click();
                });
            }

            //==== cancel link ====
            $("#repo_field_cancel_link_allow_read, #repo_field_cancel_link_allow_push, #repo_field_cancel_link_deny_read, #repo_field_cancel_link_deny_push").click(function () {
                $(".repo_field_ext_refresh_link").css("font-weight" , "");
                $("#edit_ext").hide();
                $(this).next().hide(); // hiding "==" link
                return false;
            });
            // === edit link ===
            $("#repo_field_edit_link_allow_read, #repo_field_edit_link_allow_read_refresh").click(function() {
                $(".repo_field_ext_refresh_link").css("font-weight" , "");
                $("#repo_field_edit_link_allow_read_refresh").show().css("font-weight" , "bold");
                apply_ext_block(add_to_allow_read_list, allow_read_list, $("#id_allow_read"), $("#id_allow_read_tooltip"));
                return false;
            });

            $("#repo_field_edit_link_allow_push, #repo_field_edit_link_allow_push_refresh").click(function() {
                $(".repo_field_ext_refresh_link").css("font-weight" , "");
                $("#repo_field_edit_link_allow_push_refresh").css("font-weight" , "bold").show();
                apply_ext_block(add_to_allow_push_list, allow_push_list, $("#id_allow_push"), $("#id_allow_push_tooltip"));
                return false;
            });

            $("#repo_field_edit_link_deny_read, #repo_field_edit_link_deny_read_refresh").click(function() {
                $(".repo_field_ext_refresh_link").css("font-weight" , "");
                $("#repo_field_edit_link_deny_read_refresh").show().css("font-weight" , "bold");
                apply_ext_block(add_to_deny_read_list, deny_read_list, $("#id_deny_read"), $("#id_deny_read_tooltip"));
                return false;
            });

            $("#repo_field_edit_link_deny_push, #repo_field_edit_link_deny_push_refresh").click(function() {
                $(".repo_field_ext_refresh_link").css("font-weight" , "");
                $("#repo_field_edit_link_deny_push_refresh").css("font-weight" , "bold").show();
                apply_ext_block(add_to_deny_push_list, deny_push_list, $("#id_deny_push"), $("#id_deny_push_tooltip"));
                return false;
            });
            // ==== /editing users ====
        })
    </script>
{% endblock %}

{% block menu_extra %}
    {% if not global %}
        <li class="current"><a href="#">{% trans "Repository" %}</a></li>
    {% endif %}
{% endblock %}

{% block menu_hgweb %}
    {% if global %}current{% endif %}
{% endblock %}

{% if global %}
    {% url hgweb as repo_url %}
{% else %}
    {% url repository repo_path as repo_url %}
{% endif %}

{% block content %}
    <span class="action_span" id="edit_mode_ctrl">
        {% if is_raw_mode %}
            {% trans "Advanced mode" %}
        {% else %}
            {% trans "Raw mode" %}
        {% endif %}
    </span>

    {% if global %}
        <h2>{% trans "HgWeb config" %}</h2>
    {% else %}
        <h2>{% trans "Repository" %}:
        {% if hgweb_repo_url != '-' %}
            <a class="external" href="{{ hgweb_repo_url }}">{{ repo_path }}</a>
        {% else %}
            {{ repo_path }}
        {% endif %}
        </h2>
    {% endif %}

    <div id="raw_mode" {% if not is_raw_mode %} style="display: none;" {% endif %}>
        <form action="{{ repo_url }}" id="raw_form" method="post">
            {{ raw_mode_form.non_field_errors }}
            <table>
                <tr>
                    <th>
                        {{ raw_mode_form.hgrc.label_tag }}:
                    </th>
                    <td width="100%">
                        {{ raw_mode_form.hgrc.errors }}
                        {{ raw_mode_form.hgrc }}
                        {% for hidden in raw_mode_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right"><input type="submit" value="save" name="raw_save"></td>
                </tr>
            </table>
        </form>
    </div>
    <div id="advanced_mode" {% if is_raw_mode %} style="display: none;" {% endif %}>
        {% if not global %}
            <div class="additional">
                <div class="spoiler-head folded"><span></span>{% trans "Additional actions" %}</div>
                <div class="spoiler-body">
                    <form style="padding: 0; margin: 0;" action="{{ repo_url }}" id="edit_repo_name" method="post">
                        <table>
                            <tr>
                                <th colspan="2" align="left">{% trans "Change repository:" %} <span
                                        title="{% trans 'Change repository : Allows to change repository name, move it between groups and default repository directory.' %}"
                                        class="tooltip">[ ? ]</span></th>
                            </tr>
                            {{ repo_form.as_table }}
                            <tr>
                                <td></td>
                                <td><span class="action_span" id="save_repo">{% trans "Save" %}</span></td>
                            </tr>
                            <tr><td colspan="2" class="td_color">&nbsp;</td></tr>
                        </table>
                    </form>
                    <table>
                        <tr>
                            <th colspan="2" align="left">{% trans "Delete repository:" %} <span
                                    title="{% trans 'Delete repository : Deletes directory tree and modifies hgweb.config if this is single path item.' %}"
                                    class="tooltip">[ ? ]</span></th>
                        </tr>
                        <tr>
                            <td>
                                <form style="padding: 0; margin: 0;" action="{{ repo_url }}" id="delete_repo_form" method="post">
                                    <label>{% trans "Are you sure?" %}
                                        <input type="checkbox" id="sure_delete" name="sure_delete" />
                                    </label>
                                    {{ repo_field_delete_form.non_field_errors }}
                                    {% for hidden in repo_field_delete_form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                </form>
                            </td>
                            <td><span class="repo_delete action_span" id="repo_delete">{% trans "Delete" %}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}

        <form action="{{ repo_url }}" id="repo_field_delete_form" name="repo_field_delete_form" method="post">
            {{ repo_field_delete_form.non_field_errors }}
            {% for hidden in repo_field_delete_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <input type="hidden" name="parameter" id="parameter" value=""/>
            <input type="hidden" name="delete_field"/>
        </form>

        <form class="repo_edit" action="{{ repo_url }}" method="post">
            {{ form.non_field_errors }}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <table>
                <tr>
                    <td colspan="3"></td>
                    <td rowspan="10" valign="top"> <!-- align="center" valign="top" -->
                        <div id="edit_ext">
                            <div class="items_to_remove_block">
                                <label for="available_to_rm_id">{% trans "Choose to remove:" %}</label><br/>
                                <select id="available_to_rm_id" size="13">
                                </select><br/>
                                <label for="available_to_rm_btn">{% trans "Remove:" %}</label><br/>
                                <input id="available_to_rm_btn" type="button" value="-"/>
                            </div>
                            <div class="items_to_add_block" >
                                <label for="available_to_add_id">{% trans "Choose to add:" %}</label><br/>
                                <select id="available_to_add_id" size="13">
                                </select><br/>
                                <label for="available_to_add_btn">{% trans "Add:" %}</label><br/>
                                <input id="available_to_add_btn" type="button" value="+"/>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="{{ form|field_class:form.allow_read }}">
                    <th>{{ form.allow_read.label_tag }}</th>
                    <td class="action">
                        {{ form.allow_read.errors }}{{ form.allow_read }}
                        <span title="{% trans "Delete parameter : remove this parameter from the local hgrc file" %}"
                              class="tooltip repo_field_delete_link"></span>
                        <span title="{% trans 'Users : ' %}{% for user in allow_read_list %}{{ user }}<br/>{% endfor %}"
                              class="tooltip" id="id_allow_read_tooltip">[ ! ]</span>
                    </td>
                    <td>
                        <a href="#" class="repo_field_edit_link" id="repo_field_edit_link_allow_read">{% trans "Edit" %}</a>
                        <a href="#" id="repo_field_cancel_link_allow_read"
                           class="repo_field_cancel_link">{% trans "Cancel" %}</a>
                        <a href="#" id="repo_field_edit_link_allow_read_refresh" class="repo_field_ext_refresh_link">{% trans "Editor" %}</a>
                    </td>
                </tr>
                <tr class="{{ form|field_class:form.allow_push }}">
                    <th>{{ form.allow_push.label_tag }}</th>
                    <td class="action">
                        {{ form.allow_push.errors }}{{ form.allow_push }}
                        <span title="{% trans "Delete parameter : remove this parameter from the local hgrc file" %}"
                              class="tooltip repo_field_delete_link"></span>
                        <span title="{% trans 'Users : ' %}{% for user in allow_push_list %}{{ user }}<br/>{% endfor %}"
                              class="tooltip" id="id_allow_push_tooltip">[ ! ]</span>
                    </td>
                    <td>
                        <a href="#" id="repo_field_edit_link_allow_push" class="repo_field_edit_link">{% trans "Edit" %}</a>
                        <a href="#" id="repo_field_cancel_link_allow_push"
                           class="repo_field_cancel_link">{% trans "Cancel" %}</a>
                        <a href="#" id="repo_field_edit_link_allow_push_refresh" class="repo_field_ext_refresh_link">{% trans "Editor" %}</a>
                    </td>
                </tr>
                <tr class="{{ form|field_class:form.deny_read }}">
                    <th>{{ form.deny_read.label_tag }}</th>
                    <td class="action">
                        {{ form.deny_read.errors }}{{ form.deny_read }}
                        <span title="{% trans "Delete parameter : remove this parameter from the local hgrc file" %}"
                              class="tooltip repo_field_delete_link"></span>
                        <span title="{% trans 'Users : ' %}{% for user in deny_read_list %}{{ user }}<br/>{% endfor %}"
                              class="tooltip" id="id_deny_read_tooltip">[ ! ]</span>
                    </td>
                    <td>
                        <a href="#" id="repo_field_edit_link_deny_read" class="repo_field_edit_link">{% trans "Edit" %}</a>
                        <a href="#" id="repo_field_cancel_link_deny_read"
                           class="repo_field_cancel_link">{% trans "Cancel" %}</a>
                        <a href="#" id="repo_field_edit_link_deny_read_refresh" class="repo_field_ext_refresh_link">{% trans "Editor" %}</a>
                    </td>
                </tr>
                <tr class="{{ form|field_class:form.deny_push }}">
                    <th>{{ form.deny_push.label_tag }}</th>
                    <td class="action">
                        {{ form.deny_push.errors }}{{ form.deny_push }}
                        <span title="{% trans "Delete parameter : remove this parameter from the local hgrc file" %}"
                              class="tooltip repo_field_delete_link"></span>
                        <span title="{% trans 'Users : ' %}{% for user in deny_push_list %}{{ user }}<br/>{% endfor %}"
                              class="tooltip" id="id_allow_read_tooltip">[ ! ]</span>
                    </td>
                    <td>
                        <a href="#" id="repo_field_edit_link_deny_push" class="repo_field_edit_link">{% trans "Edit" %}</a>
                        <a href="#" id="repo_field_cancel_link_deny_push"
                                       class="repo_field_cancel_link">{% trans "Cancel" %}</a>
                        <a href="#" id="repo_field_edit_link_deny_push_refresh" class="repo_field_ext_refresh_link">{% trans "Editor" %}</a>
                    </td>
                </tr>
                <tr class="{{ form|field_class:form.style }}">
                    <th>{{ form.style.label_tag }}</th>
                    <td class="action">{{ form.style.errors }}{{ form.style }}<span
                            title="{% trans "Delete parameter : remove this parameter from the local hgrc file" %}"
                            class="tooltip repo_field_delete_link"></span></td>
                    <td><a href="#" class="repo_field_edit_link">{% trans "Edit" %} </a><a href="#"
                                                                                           class="repo_field_cancel_link">{% trans "Cancel" %}
                    </a>
                    </td>
                </tr>
                <tr class="{{ form|field_class:form.allow_archive }}">
                    <th>{{ form.allow_archive.label_tag }}</th>
                    <td class="action">{{ form.allow_archive.errors }}{{ form.allow_archive }}<span
                            title="{% trans "Delete parameter : remove this parameter from the local hgrc file" %}"
                            class="tooltip repo_field_delete_link"></span></td>
                    <td><a href="#" class="repo_field_edit_link">{% trans "Edit" %} </a><a href="#"
                                                                                           class="repo_field_cancel_link">{% trans "Cancel" %}
                    </a>
                    </td>
                </tr>
                <tr class="{{ form|field_class:form.baseurl }}">
                    <th>{{ form.baseurl.label_tag }}</th>
                    <td class="action">{{ form.baseurl.errors }}{{ form.baseurl }}<span
                            title="{% trans "Delete parameter : remove this parameter from the local hgrc file" %}"
                            class="tooltip repo_field_delete_link"></span></td>
                    <td><a href="#" class="repo_field_edit_link">{% trans "Edit" %} </a><a href="#"
                                                                                           class="repo_field_cancel_link">{% trans "Cancel" %}
                    </a>
                    </td>
                </tr>
                <tr class="{{ form|field_class:form.push_ssl }}">
                    <th>{{ form.push_ssl.label_tag }}</th>
                    <td class="action">{{ form.push_ssl.errors }}{{ form.push_ssl }}<span
                            title="{% trans "Delete parameter : remove this parameter from the local hgrc file" %}"
                            class="tooltip repo_field_delete_link"></span></td>
                    <td><a href="#" class="repo_field_edit_link">{% trans "Edit" %} </a><a href="#"
                                                                                           class="repo_field_cancel_link">{% trans "Cancel" %}
                    </a>
                    </td>
                </tr>


                <tr>
                    <td></td>
                    <td colspan="2" class="bottom">
                        <input class="submit" type="submit" name="save" value="{% trans "Save" %}"/>
                        {% if global %}
                            <span title="{% trans 'Save global configuration : Modifies [web] section in the hgweb.config.' %}"
                                  class="tooltip">[ ? ]</span>
                        {% else %}
                            <span title="{% trans 'Save repository configuration : Modifies [web] section of the hgrc of the repository.' %}"
                                  class="tooltip">[ ? ]</span>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
        <table class="legend">
            <tr>
                <th>Colors:</th>
            </tr>
            {% if not global %}
                <tr>
                    <td class="r_val_local">{% trans "Value is set in the local hgrc file" %}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="r_val_global">{% trans "Value is set in the hgweb config" %}</td>
            </tr>
            {% if not global %}
                <tr>
                    <td class="r_val_default">{% trans "Value not set in any config" %}</td>
                </tr>
            {% endif %}
            {% if global %}
                <tr>
                    <td class="r_val_default">{% trans "Value not set in hgweb config" %}</td>
                </tr>
            {% endif %}
        </table>
    </div>

{% endblock %}