{% extends "base.html" %}
{% load i18n %}
{% load repository_extra %}

{% block head %}
{{ block.super }}
<script>
    $(document).ready(function(){
    $(".repo_edit input, .repo_edit select").attr("disabled","disabled");
    $(".repo_edit input.submit").removeAttr("disabled");
    $(".repo_field_edit_link").click(function(){
        $(this).hide();
        var row = $(this).parents("tr:first");
        row.find(".repo_field_cancel_link").show();
        var inp = row.find("input, select");
        inp.removeAttr("disabled");
        inp.focus();
        return false;
    });
    $(".repo_field_cancel_link").click(function(){
        $(this).hide();
        var row = $(this).parents("tr:first");
        row.find(".repo_field_edit_link").show();
        var inp = row.find("input, select");
        inp.attr("disabled","disabled");
        return false;
    });
    $(".repo_field_delete_link").click(function(){
        var field = $(this).parents("tr:first").find("th").text();
        return confirm("{% trans "Are you sure you want to delete parameter \\\"{0}\\\" from hgrc file" %}".format(field));
    });
    $(".tooltip").tooltip({
                delay: 1000,
                showBody: " : ",
                showURL: false
            });
  })
</script>
{% endblock %}

{% block menu_extra %}
    {% if not global %}
        <li class="current"><a href="#">{% trans "Repository" %}</a></li>
    {% endif %}
{% endblock %}

{% block menu_hgweb %}
    {% if global %}current{% endif %}
{% endblock %}

{% block content %}
{% if repo_path %}
<h2>{% trans "Repository" %}: {{ repo_path }}</h2>
{% endif %}
{% if global %}
<h2>{% trans "HgWeb config" %}</h2>
{% endif %}
<form class="repo_edit" action="{% url repository repo_path %}" method="post">
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <table>
        {% for field in form.visible_fields %}
            <tr class="{{ form|field_class:field }}">
                <th>{{ field.label_tag }}</th>
                <td>{{ field.errors }}{{ field }}<a href="{% url hgrc_delete field.name repo_path %}" title="{% trans "Delete parameter : remove this parameter from the local hgrc file" %}" class="tooltip repo_field_delete_link"></a></td>
                <td><a href="#" class="repo_field_edit_link">{% trans "Edit" %}</a><a href="#" class="repo_field_cancel_link">{% trans "Cancel" %}</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2" class="bottom">
                <input class="submit" type="submit" value="{% trans "Save" %}" />
                {% if global %}
                    <span title="{% trans 'Save global configuration : Modifies [web] section in the hgweb.config.' %}"
                          class="tooltip">[ ? ]</span>
                {% else %}
                    <span title="{% trans 'Save repository configuration : Modifies [web] section of the hgrc of the repository.' %}"
                          class="tooltip">[ ? ]</span>
                {% endif %}
            </td>
        </tr>
    </table>
</form>
<table class="legend">
<tr><th>Colors:</th></tr>
{% if not global %}
<tr><td class="r_val_local">{% trans "Value is set in the local hgrc file" %}</td></tr>
{% endif %}
<tr><td class="r_val_global">{% trans "Value is set in the hgweb config" %}</td></tr>
{% if not global %}
<tr><td class="r_val_default">{% trans "Value not set in any config" %}</td></tr>
{% endif %}
{% if global %}
<tr><td class="r_val_default">{% trans "Value not set in hgweb config" %}</td></tr>
{% endif %}
</table>
{% endblock %}