{% extends "base.html" %}
{% load i18n %}

{% block menu_users %}current{% endblock %}
{% block head %}
{{ block.super }}
<script>
 $(document).ready(function(){
    $(".user_list tbody tr").hover(
        function(){$(this).addClass("rowHover")},
        function(){$(this).removeClass("rowHover");}
     );
    $(".user_delete").click(function(){
        var login = $(this).parents("tr").find("td.login").text();
        return confirm("{% trans "Delete user" %} '"+login+"'?")
    });
    $(".tooltip").tooltip({
                delay: 1000,
                showBody: " : ",
                showURL: false
            });
  })
</script>
{% endblock %}

{% block content %}
<h3>{% trans "Create user" %}</h3>
<form class="user_create" action="{% url users_index %}" method="post">
    <table>
        {{ form.as_table }}
    <tr><td colspan="2" class="bottom">
        <input class="submit" type="submit" value="{% trans "Create" %}" />
        <span title="{% trans 'Add new user : Modifies users file, adds line user_name:crypted_password.' %}" class="tooltip">[ ? ]</span>
    </td></tr>
    </table>
</form>
<h3>{% trans "Manage users" %}</h3>
<table class="datagrid user_list">
<tr><th>{% trans "Login" %}</th><th>{% trans "Action" %}</th></tr>
{% for user in users %}
<tr class="{% cycle odd,even %}">
    <td class="login">{{ user }}</td>
    <td><a href="{% url users "edit" user %}"
           title="{% trans "Change password and manage user's permissions" %}">{% trans "edit" %}</a>&nbsp;&nbsp;
        <a class="user_delete" href="{% url users "delete" user %}" title="{% trans "Remove user" %}">{% trans "delete" %}</a>
    </td>
{% endfor %}
</table>
{% endblock %}
