html, body {
    height:100%;
    margin: 0;
    padding: 0;
}

body, table {
    font-family: "Lucida Sans","Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 12px;
    background-color: #F4F4F4;
    color: #505961;
}

a {
    text-decoration:underline;
    color: #505961;
}

a:hover{
    text-decoration:none;
}

a img { border: none; }

h1{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-left:110px;
    margin-top:20px;
    float:left;
}
h1 sup{
    font-size:14px;
}

h3{
    margin-bottom: 6px;
}

/*classes for messages*/
.messages {
    padding: 0;
    margin: 12px;
	font-size: 1.1em;
    list-style: none;
}

.messages li {
    padding: 5px;
    border: 2px solid;
}

.messages .error {
    background-color: #FFE3E3;
    border-color: #D00;
    color: #800;
}
.messages .warning {
	background-color: #FFEBC1;
	border-color: #FDBF3B;
	color: #A6750C;
}
.messages .success {
	background-color: #dfffdf;
	border-color: #9fcf9f;
	color: #005f00;
}

.header{
    width: 100%;
    height:80px;
    border-bottom:solid #D3D9E5 2px; /*#505961*/
    top:0;
    left:0;
}

.tree{
    width:200px;
    height:100%;
    border-right:solid #D3D9E5 2px; /*#505961*/
    float:left;
    padding:0 0 0 10px;
}
.main{
    height:100%;
    margin-left:200px;
    padding: 10px 10px 10px 20px;
}

#menu_main_horizontal{
    float:right;
    list-style:none;
    margin:0 10px 0 0;
}

#menu_main_horizontal li{
    float:left;
    display:block;
    padding:5px;
}

#menu_main_horizontal li.current a{
    text-decoration: none;
    border-bottom: 7px solid;
}

/* Form errors*/

.errorlist {
    list-style-type: none;
    color: #ff2222;
    padding: 0;
    margin-bottom: 2px;
}

/* Datagrid Table */

.datagrid {
    background-color:#fff;
    border-collapse:separate;
}

.datagrid th {
    text-align: left;
    background-color: #d3d9e5;
    border-bottom: 1px solid #fff;
}

.datagrid td, .datagrid th {
    padding: 3px 10px;
}

.datagrid tr.even td {
    background-color: #e3e9f5;
}

.datagrid tr.odd td {
    background-color: #e4e4e4;
}

.datagrid .rowHover td {
    background-color: #cacac4 !important;
}

/* Index page */
.group_list td form {
    margin: 0;
    padding: 0;
}
.group_list .action span {
    text-decoration:underline;
    color: #505961;
    cursor: pointer;
}

.group_list .action span:hover {
    text-decoration:none;
}

/* Users page */

.user_create table, .user_edit table{
    text-align: left;
}

.user_create th, .user_edit th{
    vertical-align: bottom;
}

.user_create table input, .user_edit table input {
    width: 200px;
}

.user_create .bottom, .user_edit .bottom{
    text-align: right;
}

.user_create input.submit, .user_edit input.submit{
    width: auto;
}


.user_list .login {
    min-width:120px;
}

.permission_table .th_repository {
    min-width:200px;
}

.permission_table .td_perm{
    text-align:center;
    width:90px;
}

.fll {
    float:left;
}

.flr {
    float:right;
}
