html, body {
    height:100%;
    margin: 0;
    padding: 0;
}

body, table {
    font-family: "Lucida Sans","Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size: 12px;
    background-color: #F4F4F4;
    color: #505961;
}

a {
    text-decoration:underline;
    color: #505961;
}

a:hover{
    text-decoration:none;
}

a img { border: none; }
img { margin: 0; padding: 0; }

h1{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-left:110px;
    margin-top:20px;
    float:left;
}
h1 sup{
    font-size:14px;
}

h1 a {
    text-decoration: none;
}

h3{
    margin-bottom: 6px;
}

.tooltip {
    border: 1px solid #E3E3E3;
    background-color: #FDFDFD;
    color: #003CFF;
    cursor: default;
    font-size: smaller;
    text-decoration: none;
}

/*classes for messages*/
.messages {
    padding: 0;
    margin: 12px;
	font-size: 1.1em;
    list-style: none;
}

.messages li {
    padding: 5px;
    border: 2px solid;
}

.messages .error {
    background-color: #FFE3E3;
    border-color: #D00;
    color: #800;
}
.messages .warning {
	background-color: #FFEBC1;
	border-color: #FDBF3B;
	color: #A6750C;
}
.messages .success {
	background-color: #dfffdf;
	border-color: #9fcf9f;
	color: #005f00;
}

.header{
    width: 100%;
    height:80px;
    border-bottom:solid #D3D9E5 2px; /*#505961*/
    top:0;
    left:0;
    background: transparent url("../images/hgate-logo.png") 55px 15px no-repeat;
}

.tree{
    width:200px;
    height:100%;
    border-right:solid #D3D9E5 2px; /*#505961*/
    float:left;
    padding:0 0 0 10px;
    overflow: auto;
}
.main{
    height:100%;
    margin-left:200px;
    padding: 10px 10px 10px 20px;
}

#menu_main_horizontal{
    float:right;
    list-style:none;
    margin:0 10px 0 0;
}

#menu_main_horizontal li{
    float:left;
    display:block;
    padding:5px;
}

#menu_main_horizontal li.current a{
    text-decoration: none;
    border-bottom: 7px solid;
}

#menu_langs {
    top: 20pt;
    right: 10pt;
    position: absolute;
}


/* Form errors*/

.errorlist {
    list-style-type: none;
    color: #ff2222;
    padding: 0;
    margin-bottom: 2px;
}

/* Datagrid Table */

.datagrid {
    background-color:#fff;
    border-collapse:separate;
    border: solid 1px #c3c9d5;
}

.datagrid th {
    text-align: left;
    background-color: #d3d9e5;
    border-bottom: 1px solid #fff;
}

.datagrid td, .datagrid th {
    padding: 3px 10px;
}

.datagrid tr.even td {
    background-color: #e3e9f5;
}

.datagrid tr.odd td {
    background-color: #e4e4e4;
}

.datagrid .rowHover td {
    background-color: #cacac4 !important;
}

/* Index page */
.group_list input {
    margin: 0;
    padding: 0;
}

.group_list .action span {
    text-decoration:underline;
    color: #505961;
    cursor: pointer;
}

.group_list .action span:hover {
    text-decoration:none;
}

.repository_create table, .group_create table, #group_edit_form table {
    text-align: left;
}

.repository_create table input, .group_create table input, #group_edit_form table input[type=text] {
    width: 200px;
}

.repository_create .bottom, .group_create .bottom, #group_edit_form .bottom {
    text-align: right;
}

.repository_create table input.submit, .group_create table input.submit {
    width: auto;
}

/* Users page */

.user_create table, .user_edit table{
    text-align: left;
}

.user_create th, .user_edit th{
    vertical-align: bottom;
}

.user_create table input, .user_edit table input {
    width: 200px;
}

.user_create .bottom, .user_edit .bottom{
    text-align: right;
}

.user_create input.submit, .user_edit input.submit{
    width: auto;
}


.user_list .login {
    min-width:120px;
}

.permission_table .th_repository {
    min-width:200px;
}

.permission_table .td_perm{
    text-align:center;
    width:90px;
}

.fll {
    float:left;
}

.flr {
    float:right;
}

/* Repository properties */
.r_val_global {
    color: #0044CC;
}

.r_val_local {
    color: #00AA22;
}

.r_val_default {
    color: #CC4400;
}

.repo_edit th{
    text-align: left;
    padding-right: 5px;
}

.repo_edit td input {
    width: 300px;
}

.repo_edit .bottom {
    text-align:right;
}

.repo_edit input.submit, .repo_edit #id_push_ssl{
    width: auto;
}
.repo_field_delete_link{
    display:none;
}
.r_val_local .repo_field_delete_link{
    display: block;
    width: 16px;
    height: 16px;
    background:url('/images/remove-icon.png') no-repeat;
    position:absolute;
    margin-top:-19px;margin-left:282px
}
.legend {
    text-align: left;
    font-weight: bold;
}
.repo_field_cancel_link{
    display: none;
}

/*Errors page*/
.text {
    text-align: center;
}