{% load i18n %}
<html>
<head>
{% block head %}
    {% comment %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.treeview.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.treeview.css" />
     {% endcomment %}


    <script type="text/javascript" src="/js/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="/js/jquery.treeview.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.treeview.css" />
    <title>{% block title %}hGate{% endblock %}</title>


    <script>
        $(document).ready(function() {
            $("#repository_tree").treeview({
                persist: "location",
                collapsed: true
            });
        });
    </script>
{% endblock %}
</head>
<body>
<div id="header" class="header">
    <h1 id="" class="">hGate<sup>prealpha</sup></h1>
    <ul id="menu_main_horizontal" class="">
        <li class=""><a href="#">{% trans "Repository" %}</a></li>
        <li class=""><a href="#">{% trans "Home" %}</a></li>
        <li class=""><a href="#">{% trans "Users" %}</a></li>
        <li class=""><a href="#">{% trans "HgWeb" %}</a></li>
        <li class=""><a href="#">{% trans "Help" %}</a></li>
    </ul>
</div>
<div class="tree">
{% include 'tree.html' %}
</div>
<div class="main">
{% block content %}
{% endblock %}
</div>
</body>
</html>